.App {
  text-align: center;
}
.Selector {
  width: 200px;
  margin-right: 2% !important;
}

.queryBox {
  display: flex;
  width: 50%;
  margin: 5% auto;
  justify-content: center;
}
.button {
  width: 200px !important;
}
